html body {
  font-family: "Open Sans", sans-serif;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.Body {
  background-color: rgba(0, 232, 255, 0.2);
}

.All {
  /* max-width: 50%; */
  display: flex;
  flex-direction: row;
  height: 80%;
}

.Intro,
.Details {
  margin: 5px;
  max-width: 375px;
  /* max-width: 50%; */
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Intro {
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.Me-Pic {
  border-radius: 50%;
}

.Name {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2px;
}

.Details {
  flex: 3;
}
.Social {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.Social li {
  margin-right: 8px;
}

.Social a {
  text-decoration: none;
  padding: 4px;
}

.Social a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
